h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

#pending-msg-list li {
    cursor: pointer;
}

#pending-msg-list li:hover {
    background-color: #c7dbf9;
}

.msg-type, 
.modal-title {
    font-weight: bold;
}

.margin-bottom {
    margin-bottom: 10px;
}